* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color:#1E80C1;
  color: #fff;
}

/* Navbar */
.navbar {
  background: #17ade4;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: #00000084;
  background-image: linear-gradient(to top, #000000 0%, #000000 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navbar__item {
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin-right: 10px; /* Add space between the items */
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
  padding: 0 10px; /* Add padding within each link */
}

.navbar__links:hover {
  color: #80dfff;
  transition: all 0.3s ease;
}

/* Mobile menu toggle */
.navbar__toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: #fff;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar__menu {
      display: none;
  }

  .navbar__toggle .bar {
      display: block;
  }

  .navbar__toggle {
      display: block;
      cursor: pointer;
  }

  .navbar__container {
      padding: 0 20px;
  }

  .navbar__menu {
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 0;
      transition: all 0.5s ease;
  }

  .navbar__menu.active {
      background: #17ade4;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
  }

  .navbar__links {
      text-align: center;
      padding: 20px;
      width: 100%;
      display: table;
  }
}

/* Hero Section */
.hero {
  background: linear-gradient(to right, #0A2A5E, #1E90FF);
  padding: 200px 0;
  text-align: center;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.hero__heading {
  font-size: 100px;
  margin-bottom: 24px;
  color: #fff;
}

.hero__heading span {
  background: linear-gradient(to right, #80dfff, #bbdafa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__description {
  font-size: 60px;
  background: linear-gradient(to right, #80dfff, #bddcfb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
}

@media screen and (max-width: 960px) {
  .hero {
      padding: 100px 0;
  }

  .hero__heading {
      font-size: 48px;
  }

  .hero__description {
      font-size: 24px;
  }
}

/* About Section */
.main__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 50px;
}

.main__content h1 {
  margin-bottom: 16px;
  font-size: 48px;
  color: #fff;
}

.main__content h2 {
  margin-bottom: 16px;
  font-size: 32px;
  color: #05284b;
}

.main__content p {
  margin-bottom: 35px;
  font-size: 24px;
  color: #fff;
}

@media screen and (max-width: 960px) {
  .main__content {
      padding: 0 20px;
  }

  .main__content h1 {
      font-size: 36px;
  }

  .main__content h2 {
      font-size: 28px;
  }

  .main__content p {
      font-size: 20px;
  }
}

/* Footer Section */
.footer__container {
  background: #083172;
  padding: 40px 0;
  text-align: center;
}

.footer__logo {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 40px auto 0 auto;
}

.social__icons a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
}

@media screen and (max-width: 960px) {
  .social__media--wrap {
      flex-direction: column;
  }

  .social__icons a {
      margin: 10px;
  }
}

/* Button Styles */
.cssbuttons-io-button {
  background: #003459;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #3b19a0;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #2006e2;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
